body{background-color: rgb(74, 73, 73);}
h1{background-color: rgb(52, 171, 25);}
h2{background-color: lightgoldenrodyellow;}
p{background-color: rgb(98, 236, 93);}
ol{list-style: upper-roman;}
ul{list-style-type: decimal-leading-zero;}